<!-- A few snippets to create share button in your website -->
<!-- Change "URL_TO_SHARE" to the url that you want to share -->

<a href="https://www.facebook.com/sharer/sharer.php?u=URL_TO_SHARE" title="Share on Facebook" target="_blank">Facebook</a>
<a href="https://plus.google.com/share?url=URL_TO_SHARE" title="Share on Google+" target="_blank">Google+</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url=URL_TO_SHARE" title="Share on Linkedin" target="_blank">Linkedin</a>
<a href="https://www.reddit.com/submit?url=URL_TO_SHARE" title="Share on Reddit" target="_blank">Reddit</a>
<a href="https://twitter.com/share?hashtags=first,second&url=URL_TO_SHARE" title="Share on Twitter" target="_blank">Twitter</a>
